.footer {
    background-image: url("../components/images/hero-img-3.jpeg");
    background-repeat: repeat-x;
  
    color: aliceblue;
    font-family: monospace;
 
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .footer a{
    padding: 10px;
    font-size: 18px;
    color: white;
  }