.header {
  background-image: url("../components/images/hero-img-3.jpeg");
  background-repeat: repeat-x;

  color: aliceblue;
  font-family: monospace;

  padding: 4vh;
  display: flex;
  
  flex-direction: column;
}
.header h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 4.5vh;
}
@media only screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .header h1 {
    font-size: 3.5vh;
    justify-content: center;
  }
}
