.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.navbar li {
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}
.nav-active
{
  background-color: #111;
}