.ProjectItem
{
   display: flex;
   flex-direction: row;
    font-size: 2vh;
  flex-wrap: wrap;
    font-weight: bold;
    padding: 1vh;
}
@media only screen and (max-width: 600px) {
  .ProjectItem {
    flex-direction: column;
  }
}