.project_item
{
   width: 40%;
    font-size: 14px;
  padding: 10px;
    font-weight: bold;
}
.project_item img{
    width: 200px;
}
.imgcontainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
 
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.imgcontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text a{
  padding: 10px;
  font-size: 1rem;
}