.content {
  color: #36231c;
  min-height: 60vh;
  border: .5vh double #36231c;
  background-color: #ffebcd;
  padding: 4vh;
  font-family: monospace;

  display: flex;
  flex-direction: row;
  text-align: left;
}
.content h1 {
  padding-left: 4vh;
  font-size: 3vh;
}
.content p {
  font-size: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  font-weight: bold;
  justify-content: flex-start;
}
.resumeContent
{
  padding-left: 4vh;
  font-size: 2vh;
  font-weight: bold;
}
.resumeContent h1{
  padding-left: 0;
}